
#primer_encabezado{background-color :#222222;
        }

#segundo_encabezado{background-color: #F0A83E;
}

.e1{color: white;}
.e2{color: white;}


#contactos{
        background-color: #3C2313 ;
}


#derechos{
        background-color: #222222;
}




